{% extends 'base.htm' %}
{% block body %}
<h3>Items in "{{list.title}}"</h3>
{% for bridge in bridges %}
  <p>{{bridge.item.title}}
     <form id="form" action="/list_items/{{list.id}}/edit_item/{{bridge.item.id}}/" method="get">
            {% csrf_token %}
            <input class="btn btn-info" type="submit" name="submit" value="Edit" />
     </form>
     <form id="form" action="/list_items/{{list.id}}/remove_item/{{bridge.id}}/" method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" name="submit" value="Remove" />
     </form>
  </p>
  
{% endfor %}

<form id="addform" action="/list_items/{{list.id}}/add_item/" method="post">
            {% csrf_token %}
            {{ addform.item }}
            {{ addform.user }}
            <input class="btn btn-success" type="submit" name="submit" value="Add Item" />
</form>

<form id="createform" action="/../list_items/{{list.id}}/create_item/" method="post">
            {% csrf_token %}
            {{ createform.as_p }}
            <input class="btn btn-success" type="submit" name="submit" value="Create Item" />
</form>
{% endblock %}